{namespace v=Tx_Vhs_ViewHelpers}
 
<f:layout name="Default"/>

<f:section name="content">
	<v:asset.script name="fussballde" path="http://ergebnisdienst.fussball.de/static/egm//js/egmWidget.js?schluessel={settings.key->f:format.raw()}" standalone="true" external="true" overwrite="true" />
	<div id="fussballde{uid}-matches"></div>
	<v:asset.script name="fussballde{uid}">
		var fussballde{uid} = new fussballdeAPI();
		fussballde{uid}.setzeMandant('{settings.mandat->f:format.raw()}');
		fussballde{uid}.setzeWettbewerb('{settings.wettbewerb->f:format.raw()}');
		fussballde{uid}.zeigeWettbewerb('fussballde{uid}-matches');
	</v:asset.script>
</f:section>
