{namespace v=Tx_Vhs_ViewHelpers}
 
<f:layout name="Default"/>

<f:section name="content">
	<v:asset.script name="fussballde" path="http://ergebnisdienst.fussball.de/static/egm//js/egmWidget.js?schluessel={settings.key->f:format.raw()}" standalone="true" external="true" overwrite="true" />
	<div id="matchesMAT"></div>
	<div id="tableMAT"></div>
	<script type="text/javascript">
		var fussballdeMAT = new fussballdeAPI();
		fussballdeMAT.setzeMandant('{settings.mandat->f:format.raw()}');
		fussballdeMAT.setzeWettbewerb('{settings.wettbewerb->f:format.raw()}');
		fussballdeMAT.zeigeWettbewerb('matchesMAT');
		fussballdeMAT.zeigeTabelle('tableMAT');
	</script>
</f:section>
